body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6edeb;
  color: #000000;
} 

header{
    background-color: #e3e7e8;
   text-align: center;
    padding: 20px;
}

header h1 {
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
}

header p {
    color: rgb(26, 26, 26);
  margin: 0;
  font-size: 17px;
}

.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}


.form-section,
.result-section {
    flex: 1;
    height: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.form-section label {
  margin: 10px 0;
  font-size: 18px;
}

.form-section input[type="number"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 15px;
}

.result-section h3 {
    font-weight: bold;
  font-size: 22px;
  margin-top: 0;
}

.result-section p {
    font-weight: 500;
  margin: 10px 0;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.result-section hr {
  border: none;
  border-top: 1.5px solid #000000;
  margin: 15px 0;
}

#rezultats {
  font-size: 18px;
  font-weight: bold;
}


footer {
  background-color: #d6d6d6;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

  
