html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% высоты окна */
}

main {
  flex: 1; /* занимает всё доступное пространство */
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 10px;
}

 
  
    
  

